* {
    margin: 0px;
}

html, body {
    height:100px;
    background-image: url("images/background.png");
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #999;
}

p {
    margin: 0.5em 0 0.5em 0;
}

 header  {
    display: block;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background-color: #a493c0;
    padding: 10px;
} 

ul a:visited ,
ul a:link {
    color: white;
    text-decoration: none;
}

 ul{
display: Inline;
padding: 0;
}

 ul > li {
    display: Inline-block;
    list-style: none;
    margin:0 5px 0 5px 0;
}

aside, 
article {
    padding: 2em;
}

aside {
    text-align: center;
}

article {
    width: 75%
}

 .columns {
    display:flex;
} 

main {
    
    display: block;
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}

/* footer {
    padding: 15px;
} */

@media only screen and (min-width:768px) {
main {
    padding: 2em;
    display:flex}
    
aside {margin-left:2%}
}

.columns-desktop {
    display:flex;
}

/* Pies */
.pie {
    width:200px;
    padding: 10px;
    margin:10px;
    background-color:#fff;
    border: solid 1px #ccc;
}

.pie img {
    width: 100%;
}

.pie .title {
    font-weight: bold;
}

.pie .columns {
    width: 100%;
}

.pie .price {
    text-align: right;
}

.pie .columns div {
    width: 50%
}

.pie button {
    background-color: #f6aeae;
    padding:10px;
    border: solid 1px #f6aeae;
    border-radius: 3px;
    color: #fff;
}